
.header{
  display: flex;
  justify-content: center;
  align-items: center;
}

.header .title {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
   font-size: 24px;
  font-weight: 700;
}

.country-section {
  max-width: 100%;
  background-color:rgb(6, 251, 169);
  border-radius: 5px;
  padding: 10px 60px;
  display: flex;
  justify-content: space-between;
margin-bottom: 15px;

}

.country-section .button {
  background-color: rgba(240, 248, 255, 0.686);
  color: black;
  font-size: 12px;
  text-decoration: none;
  border-radius: 3px;
  border: 1px solid gray;
  padding: 5px 15px
}
